{% extends "base.html"%}
{% load bootstrap3 %}

{% block title %}{{ title }} {% endblock %}

{% block content %}

<form action="" class="form-horizontal" enctype="multipart/form-data" method="post">
    <div class="box-body">
        {% csrf_token %}

        {% bootstrap_form form %}
        <hr/>
        <div class="row">
            <div class="col-6">
                <button class="btn btn-primary" type="submit">Predict</button>
                <a class="btn btn-default" href="{% url 'core:home' %}">Cancel</a>
            </div>
        </div>

    </div>
</form>


<div class="modal hide fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="gridSystemModalLabel"> Resultado </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <p>Probabilidade de acerto = {{ prob }}%</p>
                <p>Predição = {{ predict }}</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Open Modal</button>

{% endblock %}

{% block script %}


<script type="text/javascript">
     $(window).load(function(){
         $('#myModal').modal('show')
      });
</script>

{% endblock %}
