{% extends "base.html" %}


{% block content %}
<section class="content">
    <div class="row">
        <div class="panel panel-default panel-table">
            <div class="panel-heading">
                <div class="row">
                    <div class="col col-xs-6">
                        <h3 class="panel-title"></h3>
                    </div>

                </div>
            </div>
            <div class="box-body">
                <table class="table table-bordered table-striped" id="table_padrao">
                    <thead>
                    <tr>
                        <th>#</th>
                        {% for x in campos %}
                            <th>{{ x }}</th>
                        {% endfor %}

                    </tr>
                    </thead>
                    <tbody>

                    {% for x in objects %}
                    <tr>
                        {{ x}}

                   </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</section>
{% endblock %}