{% extends "base.html" %}
{% load static %}

{% block title %} Dashboard {% endblock %}

{% block title_navegar %} Dashboard {% endblock %}
{% block title_small %} Gráficos {% endblock %}


{% block content %}
<section class="content">
    <div class="row">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">ICMS</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body chart-responsive">
                <div class="chart" id="grafo_line_diario" style="height: 300px;"></div>
            </div>

        </div>

        <div class="col-md-6">
            <!-- BAR CHART MENSAL -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Mensal</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body chart-responsive">
                    <div class="chart" id="grafo_bar_mensal" style="height: 300px;"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <!-- BAR CHART ANUAL -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Anual</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body chart-responsive">
                    <div class="chart" id="grafo_bar_anual" style="height: 300px;"></div>
                </div>
            </div>
        </div>
    </div>

</section>
{% endblock %}


<!--<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">-->
<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>-->
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>-->
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>-->


{% block javascript %}
<script type="text/JavaScript" src="{% static 'bower_components/raphael/raphael.min.js' %}"></script>
<script type="text/JavaScript" src="{% static 'bower_components/morris.js/morris.min.js' %}"></script>


<script>
$(function () {
    "use strict";

    // AREA CHART
    var area = new Morris.Bar({
        element: 'grafo_line_diario',
        resize: true,
        data: [
            {y: '2011 Q1', item1: 500},
            {y: '2011 Q2', item1: 1000},
            {y: '2011 Q3', item1: 2500},
            {y: '2011 Q4', item1: 3767},
            {y: '2012 Q5', item1: 5810},
            {y: '2012 Q6', item1: 20070},
            {y: '2012 Q7', item1: 9820},
            {y: '2012 Q8', item1: 11073},
            {y: '2013 Q9', item1: 13687},
            {y: '2013 Q10', item1: 15432}
        ],
        xkey: 'y',
        ykeys: ['item1'],
        labels: ['Item 1'],
        lineColors: ['#3c8dbc'],
        hideHover: 'auto'
    });


    // LINE CHART
    var line = new Morris.Line({
        element: 'grafo_bar_mensal',
        resize: true,
        data: [
            {y: '2011 Q1', item1: 2666},
            {y: '2011 Q2', item1: 20778},
            {y: '2011 Q3', item1: 500},
            {y: '2011 Q4', item1: 12890},
            {y: '2012 Q1', item1: 2000},
            {y: '2012 Q2', item1: 5670},
            {y: '2012 Q3', item1: 1000},
            {y: '2012 Q4', item1: 15073},
            {y: '2013 Q1', item1: 10687},
            {y: '2013 Q2', item1: 22000}
        ],
        xkey: 'y',
        ykeys: ['item1'],
        labels: ['Item 1'],
        lineColors: ['#3c8dbc'],
        hideHover: 'auto'
    });


    //BAR CHART
    var bar = new Morris.Bar({
        element: 'grafo_bar_anual',
        resize: true,
        data: [
            {y: '2006', a: 100, b: 90},
            {y: '2007', a: 75, b: 65},
            {y: '2008', a: 50, b: 40},
            {y: '2009', a: 75, b: 65},
            {y: '2010', a: 50, b: 40},
            {y: '2011', a: 75, b: 65},
            {y: '2012', a: 100, b: 90}
        ],
        barColors: ['#3c8dbc', '#a0d0e0'],
        xkey: 'y',
        ykeys: ['a', 'b'],
        labels: ['CPU', 'DISK'],
        hideHover: 'auto'
    });


});




</script>
{% endblock %}
