{% extends "base.html"%}

{% block content %}
<ul class="nav flex-line">
    <li class="nav-item">
        <a class="nav-link active" href="{% url 'core:home' %}">
            <span data-feather="home"></span>
            Home <span class="sr-only">(current)</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'ml:listar_iris' %}">
            <span data-feather="file"></span>
            Listar Iris
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'ml:linear'%}33">
            <span data-feather="users"></span>
            Regressão Linear Iris
        </a>
    </li>

</ul>


{% endblock %}